{% extends "base.html" %}

{% block main %}
<div class='container d-flex'>
    <div class="btns col-12 col-lg-6 text-center">
        <a href="/view" class="btn btn-outline-danger w-100 my-3">Today's Suggetion</a>
        <a href="/week" class="btn btn-outline-danger w-100 my-3">Week's Programme</a>
        <a href="/month" class="btn btn-outline-danger w-100 my-3">Month's Programme</a>
        <a href="/fast" class="btn btn-outline-danger w-100 my-3">Fast Food</a>
        <a href="/dessert" class="btn btn-outline-danger w-100 my-3">Desert</a>
        <a href="/all" class="btn btn-outline-danger w-100 my-3">Whole Menue</a>
    </div>
</div>
{% endblock %}